@import "tailwindcss";

@theme {
    --color-sidebar: #565656;
    --color-primary: #a6825f;
    --color-background: #f4f4f4;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
}